<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Abbigli</title>
  <meta httpEquiv='X-UA-Compatible' content='IE=edge' />
  <meta httpEquiv='Content-Language' content='en' />
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
  <div id="swipeMenu"></div>
  <div id="app" class="global-wrapper"><%- markup %></div>

  <script type="text/javascript" src="/js/jQuery_1.11.min.js" defer></script>
  <script type="text/javascript" src="/js/redactor.min.js" defer></script>
  <script src="<%= baseUrl %><%= jsUrl %>" defer></script>
</body>

</html>
<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
<link rel="stylesheet" href="<%= baseUrl %><%= cssUrl %>">