<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
  <meta charset="UTF-8">
  <link rel="canonical" href="<%= canonical %>" />
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <%- seo.title %>
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <%- seo.meta %>
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <style>
    .mobile-menu { display: none; }
  </style>
  <link rel="stylesheet" href="<%= assetsUrl %><%= assets.css %>">

  <%- metriks %>
</head>

<body>
  <script>
    window.fbAsyncInit = function () {
      FB.init({
        appId: '1738998542989048',
        xfbml: true,
        version: 'v2.9'
      });
      FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=<%= gtmCode %>" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>

  <div id="app" class="app">
    <%- markup %>
  </div>
  <script>
    window.PRELOADED_STATE = <%-JSON.stringify(decodeURI(store)) %>;
  </script>

  <script src="/js/jQuery_1.11.min.js" defer></script>
  <script src="/js/redactor.min.js?v=2.6" defer></script>
  <script src="/js/source.js" defer></script>
  <script src="<%= assetsUrl %><%= assets.js %>" defer></script>
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
</body>

</html>
