- var dir = process.env.PWD


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
*|MC:SUBJECT|*

link(href = dir + '/public/mail_views/to_client/__MC_SUBJECT__.css', rel='stylesheet')
</title>
</head>
<body>
<center>
<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
<tbody><tr>
<td align="center" valign="top" id="bodyCell">

<table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
<tbody><tr>
<td valign="top" id="templatePreheader"></td>
</tr>
<tr>
<td valign="top" id="templateHeader"></td>
</tr>
<tr>
<td valign="top" id="templateBody"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
<tbody class="mcnTextBlockOuter">
<tr>
<td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">

<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
<tbody><tr>

<td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

<h1><span style="font-size:18px"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">Ваша заявка на ремонт:</span></span></h1>

<ul>
<li><span style="font-family:arial,helvetica neue,helvetica,sans-serif">#{room_number} квартира, #{area}&nbsp;м<strong id="docs-internal-guid-1ac23520-e38f-703a-0da0-58e425f37567">²</strong></span>.</li>
<li><span style="font-family:arial,helvetica neue,helvetica,sans-serif">#{colors} цветовая гамма</span>.</li>
<li><span style="font-family:arial,helvetica neue,helvetica,sans-serif">#{doors} двери</span>.</li>
<li><span style="font-family:arial,helvetica neue,helvetica,sans-serif">#{WC} унитаз</span>.</li>
<li><span style="font-family:arial,helvetica neue,helvetica,sans-serif">Замена радиаторов. Стальные&nbsp;панельные радиаторы #{radiators}. #{radiators_number} шт</span>.</li>
<li><span style="font-family:arial,helvetica neue,helvetica,sans-serif">Кондиционеры #{conditioner}<strong>,</strong>&nbsp;#{conditioner_color} цвета.#{conditioner_number} шт</span>.</li>
</ul>

<p><span style="font-family:arial,helvetica neue,helvetica,sans-serif">Цена ремонта #{price}&nbsp;₽.<br>
Продолжительность #{days} календарных дней.</span><br>
Мы скоро с вами свяжемся.<br>
<br>
<a href="https://lecalo.herokuapp.com/" target="_blank"><font color="#33cc00">Lecalo</font></a></p>

</td>
</tr>
</tbody></table>

</td>
</tr>
</tbody>
</table></td>
</tr>
<tr>
<td valign="top" id="templateFooter"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowBlock" style="min-width:100%;">
<tbody class="mcnFollowBlockOuter">
<tr>
<td align="center" valign="top" style="padding:9px" class="mcnFollowBlockInner">
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentContainer" style="min-width:100%;">
<tbody><tr>
<td align="center" style="padding-left:9px;padding-right:9px;">
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnFollowContent">
<tbody><tr>
<td align="center" valign="top" style="padding-top:9px; padding-right:9px; padding-left:9px;">
<table align="center" border="0" cellpadding="0" cellspacing="0">
<tbody><tr>
<td align="center" valign="top">



<table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;">
<tbody><tr>
<td valign="top" style="padding-right:10px; padding-bottom:9px;" class="mcnFollowContentItemContainer">
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentItem">
<tbody><tr>
<td align="left" valign="middle" style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;">
<table align="left" border="0" cellpadding="0" cellspacing="0" width="">
<tbody><tr>

<td align="center" valign="middle" width="24" class="mcnFollowIconContent">
<a href="http://www.facebook.com/" target="_blank"><img src="cid:facebook@image" style="display:block;" height="24" width="24" class=""></a>
</td>


</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>



<table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;">
<tbody><tr>
<td valign="top" style="padding-right:10px; padding-bottom:9px;" class="mcnFollowContentItemContainer">
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentItem">
<tbody><tr>
<td align="left" valign="middle" style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;">
<table align="left" border="0" cellpadding="0" cellspacing="0" width="">
<tbody><tr>

<td align="center" valign="middle" width="24" class="mcnFollowIconContent">
<a href="http://instagram.com/" target="_blank"><img src="cid:instagram@image" style="display:block;" height="24" width="24" class=""></a>
</td>


</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>



<table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;">
<tbody><tr>
<td valign="top" style="padding-right:10px; padding-bottom:9px;" class="mcnFollowContentItemContainer">
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentItem">
<tbody><tr>
<td align="left" valign="middle" style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;">
<table align="left" border="0" cellpadding="0" cellspacing="0" width="">
<tbody><tr>

<td align="center" valign="middle" width="24" class="mcnFollowIconContent">
<a href="https://vk.com/" target="_blank"><img src="cid:vk@image" style="display:block;" height="24" width="24" class=""></a>
</td>


</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>



<table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;">
<tbody><tr>
<td valign="top" style="padding-right:0; padding-bottom:9px;" class="mcnFollowContentItemContainer">
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentItem">
<tbody><tr>
<td align="left" valign="middle" style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;">
<table align="left" border="0" cellpadding="0" cellspacing="0" width="">
<tbody><tr>

<td align="center" valign="middle" width="24" class="mcnFollowIconContent">
<a href="http://www.pinterest.com/" target="_blank"><img src="cid:pinterest@image" style="display:block;" height="24" width="24" class=""></a>
</td>


</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>


</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>

</td>
</tr>
</tbody>
</table></td>
</tr>
</tbody></table>

</td>
</tr>
</tbody></table>
</center>

</body></html>
